{% extends 'home.html' %}

{% block head %}

{% endblock %} 
 
{% block body %}
<div class="header">
    <div class="row">
        <div class="col-9" ></div>
        <div class="col-3 ">
            <div style="float: right; margin: 10px;">
        <button type="button" class="btn btn-light">Log in</button>
        <button type="button" class="btn btn-light">Create an account</button></div>
        </div>
    </div>

<div class="middle">
    <div class="row">
        <h3 class="logo">Citizen</h3>
    </div>
<div class="row">
    <div class="text-center">
        <h1 style="font-size: 30px; margin-top: 60px; color:rgb(255, 255, 255); font-weight: 600;">Schedule your waste pickup today!</h1>
    </div>
</div>
<!-- <div class="row">
    <div class="sub_header">
        Enter your delivery location to get started
    </div>
</div> -->
        
<div class="row">
    

    <button type="button" class="btn btn-danger" style="margin:auto;margin-top: 30px; min-height: 45px; width: 140px; font-size: 17px;"><a href="/schedule2">Schedule Now</a></button>


</div>
</div>
</div>	

    <!-- <form>
        <div class="col-xs-6" style="margin-top: -30px;">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-send"></i></span>
                <input type="text-box" class="form-control" id="loc" placeholder="Type delivery location here..." style="min-height: 45px;">	
            </div>
            <button type="button" class="btn btn-danger" style="margin-left: 460px;margin-top: -70px; min-height: 45px; width: 120px; font-size: 17px;">Find Food</button>
        </div>
</form> -->
</div>
</div>

<div class="mid" style="background-color: white;">
    <div class="mid_heading">
            How Pickup Works
    </div>
    <div class="mid_sub_heading">
            Discarding your waste has never been this easy
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/images/food.png" id="icon">
                <div class="cap"><b>Explore Waste Categories</b> <br>that you want to dump</div>
            </div>
            <div class="col-sm-4">
                <img src="../static/images/menu.png" id="icon">
                <div class="cap"> Schedule <b>Pickup<br></b>as per your <b>convenience</b></div>
            </div>
            <div class="col-sm-4">
                <img src="../static/images/notif.png" id="icon">
                <div class="cap">Discard your<br><b>Waste</b></div>
            </div>
          </div>
       </div>
   </div>
<div class="wrapper">
<div class="container text-center">
    
    </div>
</div>
</div>
<!-- <div class="footer" >
        <div class="wrap">
            <div class="row">
                
                    <div class="row">
                        <h3 class="logo1"">Citizen</h3>
                    </div>
                
            </div>
        </div>
    
        <div class="footer_divider">
        </div>

        <div class="row">
            <div class="col-m-4" style="padding-left: 90px;">
                <h3 style="padding-left: 47px;">About Tomato</h3>
                <ul class="footer_links-1">
                    <li>About Us</li>
                    <li>Culture</li>
                    <li>Blog</li>
                    <li>Careers</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="col-m-5" style=" margin-top: -186px; margin-left: 360px;">
                <h3 style="padding-left: 47px;">For Foodies</h3>
                <ul class="footer-links-2">
                    <li>Code Of Conduct</li>
                    <li>Community</li>
                    <li>Verified Users</li>
                    <li>Blogger Help</li>
                    <li>developer</li>
                    <li>Mobile Apps</li>
                </ul>
            </div>
            <div class="col-m-5" style="margin-top: -215px;margin-left: 860px;">
                <h3 style="padding-left: 45px;">For Restaurants</h3>
                <ul class="footer-links-3">
                    <li>Add a Restaurant</li>
                    <li>Claim your listing</li>
                    <li>Business App</li>
                    <li>Business Owner Guidelines</li>
                    <li>Buisness Blog</li>
                    <li>Restaurant Widget</li>
                    <li>Products for Business</li>
                </ul>
            </div>					
        </div>

        <div class="footer_divider">
        </div>

        <div class="footer_list">

            <ul class="footer_bottom">
                <li>Privacy</li>
                <li>Terms</li>
                <li>API Policy</li>
                <li>CSR</li>
                <li>Security</li>
                <li>Sitemap</li>
            </ul>	

        </div>

        <div class="footer_divider"></div>		
    </div> -->
 
{% endblock %} 