{% extends 'home.html' %} {% block head %}
<title>Schedule Pickup</title>
<style type="text/css">
  html {
    overflow: hidden;
  }

  .gradient-custom {
    background: -webkit-linear-gradient(left, #00a558, #a0d2bb);
    padding: 50px;
    height: 100vh;
  }

  .card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa;
  }

  .cen {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input-custom {
    background-color: white;
  }

  .white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 100;
    font-size: 14px;
  }

  .back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black;
    margin-top: 50px;
  }
</style>
{% endblock %} {% block body %}
<div class="row gradient-custom" style="min-height: 30%;margin-top: 0px;">
  <div class="col-md-3 cen">
    <div style="margin-top: 50px; margin-left: 10px" class="text-center">
      <h3 class="mt-3 text-white">Welcome</h3>
      <h3 class="mt-5 text-white">
        You are 30 seconds away from scheduling your pickup!
      </h3>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-white btn-rounded back-button">
        <a href="/"> Go back</a>
      </button>
    </div>
    <div style="margin-left: 10px" class="text-center">
      <h3 class="mt-3 text-white" id="scroll"></h3>
    </div>
  </div>

  <div class="col-md-9 cen">
    <div class="card card-custom pb-4">
      <div class="card-body mt-0 mx-5">
        <div class="text-center pb-2 mt-3">
          <h4 style="color: #495057">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Pickup Details</h4>
        </div>
        <div class="card-body mx-5" style="margin-top: -50px;">
          <form action="/schedule2" method="POST" class="mb-0">
            <div class="row mb-4">
              <button type="button" id="demo" class="btn btn-outline-success btn-rounded" onclick="getLocation()">
                Get location
              </button>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" name="firstname" id="firstname" class="form-control input-custom"
                    placeholder="First Name" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="lastname" class="form-control input-custom" placeholder="Last Name" />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="city" class="form-control input-custom" placeholder="City" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="zip" class="form-control input-custom" placeholder="Zip" />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" name="address" id="address" class="form-control input-custom"
                    placeholder="Address" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="email" id="email" class="form-control input-custom" placeholder="Email" />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="time" name="time" id="time" class="form-control input-custom" placeholder="Time" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="date" name="date" id="date" class="form-control input-custom" placeholder="date" />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <select name="waste" name="waste" id="waste" class="form-control input-custom">
                  <optgroup>
                    <option value="" disabled selected>Select your option</option>
                    <option>Bio-Degradable</option>
                    <option>E-waste</option>
                    <option>Non-Bio-Degradable</option>
                  </optgroup>
                </select>
              </div>
              <div class="col">
                <input type="number" id="quantity" class="form-control input-custom" placeholder="Enter weight of waste"
                  min="0" step="1" />
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <input type="file" class="form-control inout-custom" placeholder="Upload Images" />
              </div>
              <div class="col float-end">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-success btn-rounded">
                  Schedule
                </button>
              </div>
            </div>

          </form>
          <div class="row mb-4">
            <form action="/schedule2" method="GET">
              <button type="submit" class="btn btn-outline-success btn-rounded"><a href="/records">
                  View your pickup requests</a>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row gradient-custom text-center" style="min-height: 30%;margin-top: -300px;">
  <div class="col cen">
    <h3 class="mt-3 text-white" id="loc"></h3>
  </div>
  <div class="col cen">
    <div id="map" style="width: 100%; height: 400px;padding: 20px;color: white;"></div>
  </div>
</div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBPumFitqUXtRI9ET9HhI4GrXcRFa7062E"
  async="" defer="defer" type="text/javascript"></script>



{% endblock %}